.App {
  text-align: center;
}

.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  right: 13px;
  top: 0px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
.split {
  height: 100%;
  position: fixed;
  padding-top: 20px;
  top: 0;
  overflow-x: hidden;
}
.slider {
  position: absolute;
  right: 0;
  top: 50%;
  width: 25px!important;
  height: 25px!important;
}
#main {
  left: 0;
  border-right: 1px solid lightgrey;
}
#side {
  right: 0;
  border-left: 1px solid lightgrey;
  background-color: #fbfcff
}
#mainInput{
  width: 60%;
  height: 200px;
  font-size: 11pt;
  font-family: Inconsolata, monospace;
  color: white;
  background-color: black;
}
.button {
    background: #3673d6;
    color: white;
    font-size: 22px;
    border: 1px solid black;
    padding: 15px 40px;
    border-radius: 4px;
    margin: 20px 20px;
}

.button:hover {
    background: #336ac4;
}

.button:active {
    background: #336ac4;
    top: 2px;
}

.button:before {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    line-height: 3;
    font-size: 140%;
    width: 60px;
}